@media (max-width: 1260px) {
    .center {
        padding-right: 16px;
        padding-left: 16px;
    }

}

@media (max-width: 1182px) {
    .center {
        padding-right: 16px;
        padding-left: 16px;
    }

}

@media (max-width: 1179.60px) {
    .about {
        &__item {
            &:nth-child(5) {
                order: 5;
            }
        }
    }

}