*, *::before, *::after, *:checked {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    box-sizing: border-box;
}

input, button, select {
    font: inherit;
    outline: none;
    cursor: pointer;
}

.center {
    max-width: 1200px;
    margin: 0 auto;
}

.main {
    position: relative;
    overflow: hidden;
    color: #000;
    width: 100%;
    background-color: #E1FF8F;
    height: 800px;
    background-image: url(../img/main-bg-left.svg), url(../img/main-bg-right.svg);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: top 4em left 6em, top -21em right -30em;


    &__content {
        padding-top: 196px;
    }
    &__info {
        max-width: 768px;
    }
    &__title {
        font-size: 64px;
        font-weight: 700;
    }
    &__text {
        max-width: 720px;
        font-size: 24px;
        margin-top: 24px;
        margin-bottom: 48px;
    }

    &__text--marker {
        font-weight: 600;
    }

    &__btn {
        background: #000;
        border: 1px solid #000;
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        display: inline-block;
        padding: 16px 65px 16px 65px;
        border-radius: 30px;
        transition: all 400ms;
        &:hover {
            background: transparent;
            color: #000;
        }
    }

    &__scrollbar {
        background: #BCEC30;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
    }

    &__scrollbar-content {
        display: flex;
        font-size: 30px;
        gap: 51px;
        align-items: center;
        text-transform: uppercase;
        width: 5220px;
        height: 90px;
    }
}

.about {
    background-color: #202027;
    background-image: url(../img/about-bg-left.svg), url(../img/about-bg-right.svg);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: bottom 37em left 4em, top 6em right -6em;
    
    &__content {
        padding-top: 94px;
        padding-bottom: 50px;
    }
    &__title {
        color: #fff;
        font-size: 64px;
        font-weight: 700;
    }
    &__text {
        max-width: 788px;
        font-size: 24px;
        margin-top: 24px;
        color: #fff;
        margin-bottom: 72px;
    }
    &__box {
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
        gap: 1.5rem 1rem;
        justify-items: center;
        grid-auto-flow: dense;
        overflow-x: hidden;
    }

    &__link-box {
        display: block;
    }

    &__item {
        grid-column: span 4 / auto;
        background: #fff;
        max-width: 378px;
        border-radius: 30px;
        color: #202027;
        &:nth-child(1) {
            grid-row: span 7;
            order: 1;
        }
        &:nth-child(2) {
            grid-row: span 8;
            order: 2;
        }
        &:nth-child(3) {
            grid-row: span 7;
            order: 3;
        }
        &:nth-child(4) {
            grid-row: span 8;
            order: 4;
        }
        &:nth-child(5) {
            grid-row: span 7;
            order: 6;
        }
        &:nth-child(6) {
            grid-row: span 8;
            order: 5;
        }
    
    }

    &__img {
        max-width: 100%;
        height: auto;
    }

    &__info {
        padding: 32px 32px 36px 32px;
    }

    &__number {
        font-size: 16px;
        font-weight: 500;
        padding: 8px 16px 10px 16px;
        background: #F7F7F7;
        border-radius: 20px;
        display: inline-block;
        margin-bottom: 16px;
    }
    &__game-title {
        font-size: 32px;
        font-weight: 700;
    }
}

.minigames {
    background-color: #202027;
    background-image: url(../img/minigames-bg-top.svg), url(../img/minigames-bg-bottom.svg);
        background-repeat: no-repeat;
        background-size: inherit;
        background-position: top 5rem right 4rem, bottom 3rem right 4rem;

    &__content {
        padding-top: 46px;
        padding-bottom: 144px;
    }

    &__title {
        @extend .about__title;
    }

    &__box{
        margin-top: 72px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__item {
        background: #fff;
        display: flex;
        max-width: 1200px;
        border-radius: 30px;
        &:nth-child(2n-2) {
            flex-direction: row-reverse;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 48px;
        align-items: flex-start;
        max-width: 50%;
    }

    &__name {
        font-size: 48px;
       
    }

    &__descr {
        font-size: 24px;
        margin-top: 24px;
        margin-bottom: 36px;
    }

    &__btn {
        width: 247px;
        height: 55px;
        background: #000;
        border-radius: 30px;
        font-weight: 600;
        font-size: 24px;
        color: #fff;
        transition: all 0.4s;
        &:hover {
            color: #000;
            background: transparent;
            border: 1px solid #000;
        }
    }

    &__img {
        max-width: 50%;
        height: auto;
    }
}

.footer {
    background: #BCEC30;
    height: 150px;
    padding-top: 61px;

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__privacy {
        font-size: 24px;
        font-weight: 700;
        color: #202027
    }
}

@import 'tablet';
@import 'mobile';